-form_for(:session, :url => sessions_path) do |f|
  =f.error_messages
  %dl
    %dt=f.label :email
    %dd=f.text_field :email
    %dt=f.label :password
    %dd=f.password_field :password
  =f.submit "Sign in"

