%h1 Sign in
=form_for(:session, :url => sessions_path) do |f|
  /=render "shared/error_messages", :target => @user
  %p.fancy-label
    %span
      =f.label :email
      =f.text_field :email
  %p.fancy-label
    %span
      =f.label :password
      =f.password_field :password
  .action=f.submit "Sign in"

