.content
	.searchresults
		.postsresults
			%h1 Stuff:
			%p search returned #{pluralize(@post_count, 'post')}
			=render @posts
		.groupsresults
			%h1 Groups:
			%p search returned #{pluralize(@group_count, 'group')}
			=render @groups
=render :partial => 'shared/side_nav'