%h1 Create a group
=form_for(@group, :html => { :multipart => true}) do |f|
  /=render "shared/error_messages", :target => @user
  =hidden_field_tag('user_id', current_user.id)
  =hidden_field_tag('group[member_ids][]', current_user.id)
  %p.fancy-label
    %span
      =f.label :name
      =f.text_field :name
  %p.fancy-label
    %span
      =f.fields_for :post_images do |ff|
        =ff.file_field :image
  =f.label :private, "Private group?"
  #private_group=f.check_box :private
  %br/
  
  %div#private_fields
    %p Set an entrance code that users can submit to join this group
    %p.fancy-label
      %span
        =f.label :group_password, "entrance code"
        =f.text_field :group_password
    %p Optional: Create a question to be displayed on the group page. If users answer correctly they will be able to join this group.
    %p.fancy-label
      %span
        =f.label :question, "question"
        =f.text_field :question
	
  %p.area
    %span.area
      =f.label :description
      =f.text_area :description, :size => "20x10"
  .action=f.submit "Create"