-form_for(:group, :url => groups_path, :html => { :multipart => true}) do |f|
	/=render "shared/error_messages", :target => @user
	=hidden_field_tag('user_id', current_user.id)
	%dl
		%dt.field=f.label :photo
		%dd.field=f.file_field :photo
		%dt.field=f.label :name
		%dd.field=f.text_field :name
		%dt.field=f.label :private, "private?"
		%dd.field=f.check_box :private		
		%dt.field=f.label :description
		%dd.field=f.text_area :description
		.action=f.submit "Create"