%div.result
	%div.image
		=link_to image_tag(group.post_images.empty?  ? '/assets/group-thumb.png': group.post_images.first.image.url(:small), :alt => group.name), group_url(group)
	%div.data
		%div.title
			=link_to group.name, group_url(group)
		%br.clear	
		%div.description
			=truncate(group.description,15)
			%br
			.special_link=link_to "See items", group_url(group)
			%br
		-if group.owner == current_user
			.special_link2
				=link_to 'Edit', edit_group_path(group)
				=link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete