=form_for @group do |f|
  =hidden_field_tag('group[member_ids][]', current_user.id)
  -if @group.private?
    =f.label :group_password, "secret code to join group:"
    =f.text_field :group_password
  .action=f.submit "Join Group"
	