.content
	=form_tag groups_path, :method => :get do
		=text_field_tag :search, params[:search]
		=submit_tag "search", :name => nil
	%h1 big dog's groups
	=render @groups
=render :partial => 'shared/side_nav'