.content
  =search_form_for @q, :url => { :controller => "search", :action => "index" }do |f|
    =f.text_field :name_cont
    =f.submit 'search', :id => 'searchbutton'
  %h1 big dog's groups
  =render @groups
=render :partial => 'shared/side_nav'