.content
  %div.show
    %div.group_image
      =link_to image_tag(@group.post_images.first.nil?  ? '/assets/group-thumb.png': @group.post_images.first.image.url(:medium), :alt => @group.name), group_url(@group)
    %div.group_info
      %h1= @group.name
      %p= @group.description
      -if current_user == @user
        =link_to "Edit", edit_group_path(@group)
    %br/
    %div.clear
    %br/
    -if @group.group_password && @group.owner != current_user
      / =form_for @group do |f|
      /   =hidden_field_tag('group[member_ids][]', current_user.id)
      /   =f.label "this is the group password"
      /   =f.label "password"
      /   =f.text_field :group_password
      /   =f.submit "join"
      -if @group.members.include?(current_user)
        =render 'leave'        
      -else
        =form_for :group, :url => "/private" do
          =hidden_field_tag(:id, @group.id)
          =hidden_field_tag('group[member_ids][]', current_user.id)
          =text_field_tag :code, params[:code]
          =submit_tag 'Join Group',:name => nil

    -else
      =render :partial => "join_form"
    %br
    %br/
    -if @group.owner == current_user
      %h2 Invite people!
      %h3 copy and paste blitz lists or random emails here
      = render :partial => 'invite', :locals => {:group => @group}
    %h2 items
    %table
      =render @group.posts
    %h2 members
    %table
      =render @group.members
=render :partial => 'shared/side_nav'