.content
	%h1= @group.name
	-if @group.photo
		=link_to image_tag(@group.photo.url(:small), :alt => @group.name), group_url(@group)
	-else
		%p dsfaklfdskjljlkafd
	%p= @group.description
	-if @group.user_id
		=@group.user_id
	-else
		%p blah blah blah
	=render :partial => "join_form"
	%br
	%br/
	%h2 items
	%table
		=render @group.posts
	%h2 members
	%table
		=render @group.members
=render :partial => 'shared/side_nav'