.content
	%div.show
		%div.image
			=link_to image_tag(@group.photo.url(:thumb), :alt => @group.name), group_url(@group)
		%div.data
			%h1= @group.name
			%p= @group.description
			-if current_user == @user
				=link_to "Edit", edit_group_path(@group)
			%br
			%br/
			=render :partial => "join_form"
	%br
	%br/
	= render :partial => 'invite', :locals => {:group => @group}
	%h2 items
	%table
		=render @group.posts
	%h2 members
	%table
		=render @group.members
=render :partial => 'shared/side_nav'