%h1 #{@header}
=form_for(@user,  :remote => true,:validate => true) do |f|
  / =render "shared/error_messages", :target => @user
  =f.hidden_field :stripe_customer_token
  %p.fancy-label
    -if signed_in?
      =f.label :avatar
      =f.file_field :avatar
  %p.fancy-label
    %span	
      =f.label :name, :value => "lbl"
      =f.text_field :name
  %p.fancy-label
    %span
      =f.label :email, :value => "lbl"
      =f.text_field :email
  %p.fancy-label
    %span
      -if @user.new_record?
        =f.label :password, :value => "lbl"
        =f.password_field :password
  / -if @user.stripe_customer_token.present?
  /     %p Credit card has been provided.
  /   -else
  /     %p.fancy-label
  /       %span
  /         =label_tag :card_number, "Credit Card Number"
  /         =text_field_tag :card_number, nil, :name => nil
  /     %p.fancy-label
  /       %span
  /         =label_tag :card_code, "Security Code on Card (CVV)"
  /         =text_field_tag :card_code, nil, :name  => nil
  /     =label_tag :card_month, "Card Expiration"
  /     =select_month nil, {:add_month_numbers => true}, {:name => nil, :id => "card_month"}
  /     =select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_year"}
  /     %div#stripe_error
  /     %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
  .actions
    =f.submit((defined?(editing) ? "Update" : "Sign Up"))