-if current_user == nil
	%h1 Sign up
-else
	%h1 Edit
-form_for(@user, :html => {:multipart => true}) do |f|
	=render "shared/error_messages", :target => @user
	%dl
		-if signed_in?
			%dt.field=f.label :avatar
			%dd.field=f.file_field :avatar
		%dt.field=f.label :name
		%dd.field=f.text_field :name, :value => "Name"
		%dt.field=f.label :email
		%dd.field=f.text_field :email, :value => "Email"
		-if @user.new_record?
			%dt.field=f.label :password
			%dd.field=f.password_field :password
		-if current_user == nil
			.action=f.submit "Sign up"
		-else
			.action=f.submit "Edit details"


