-form_for(:user, :url => users_path) do |f|
	%dl
		-if signed_in?
			%dt=f.label :avatar
			%dd=f.file_field :avatar
		%dt=f.label :name
		%dd=f.text_field :name
		%dt=f.label :email
		%dd=f.text_field :email
		%dt=f.label :password
		%dd=f.password_field :password
		%dt=f.label :password_confirmation
		%dd=f.password_field :password_confirmation	
	-if !signed_in?
		=f.submit "Sign up"
	-else
		=f.submit "Edit details"
		

