.content	
	%div.show
		%div.image
			=link_to image_tag(@user.avatar.url(:medium), :alt => @user.name), user_url(@user)
		%div.data
			%h1= @user.name
			%p email: #{@user.email}
			%p school: #{@user.school}
			-if current_user == @user
				=link_to "Edit", edit_user_path(@user)
	%br
	%br/
	%h2 your groups...
	%table
		=render @user.groups_as_owner
	%h2 you are a member of...
	%table	
		=render @groups_member
	=render :partial => "form_after_signup"
=render :partial => 'shared/side_nav'