.content
	%h2 5 random items:
	%div.small_post
		-unless @random_items.nil?
			=render :partial => "/shared/random_item", :collection => @random_items	 
	-if current_user == @user		
		%h2 your groups:
		.special_link=link_to "create a group", new_user_group_path(current_user)
		%br/
	-else
		%h2 #{@user.name} groups
	/ %table
	/		=render @user.groups_as_owner
	/ -if current_user == @user
	/		%h2 you are a member of:
	/ -else
	/		%h2 #{@user.name} is a member of:
	%table	
		=render @groups_member
	=render :partial => "form_after_signup"
=render :partial => 'shared/side_nav'