%h1 About
%p This website is a version 1 sort of deal. In other words there are probably many, many things wrong with it. If you find anything wrong, or think something should be improved, or have any general comments, criticsms, or concerns, dash them off below:
-if current_user
	=render :partial => 'shared/message'
=image_tag("magic-medium.jpg", :alt => "my dog magic")