
.col1	
  =render 'users/form'
.col2
  %p A place where people who actually sort of know each other in the real world (this ain't ebay), can get together to get the most out of their stuff/knowledge/abilites/etc... Buy it, Sell it, Rent it, Share it, Borrow it. Do it here with people you trust.
  %br
  =render 'sessions/form'


