/ =nested_form_for( [@user, @post], :remote => true) do |f|
/ 	=hidden_field_tag 'user_id', @user.id
/ 	=f.fields_for :post_images
/ 	=f.link_to_add "Add an image", :post_images
/ 	=f.label :name
/ 	=f.text_field :name
/ 	=f.label :borrow, "borrow?"
/ 	=f.check_box :borrow
/ 	=f.label :price
/ 	=f.text_field :price		
/ 	=f.label :description
/ 	=f.text_area :description
/ 	%h2 choose which groups you want to post this item to    
/ 	-@user.groups_as_owner.each do |group|
/ 		= label_tag "group_checkbox_#{group.id}", group.name
/ 		= check_box_tag("post[group_ids]", group.id, @user.groups_as_owner.include?(group), :id => "group_checkbox_#{group.id}")
/ 	-@user.groups_as_member.each do |group|
/ 		= label_tag "group_checkbox_#{group.id}", group.name
/ 		= check_box_tag("post[group_ids]", group.id, @user.groups_as_member.include?(group), :id => "group_checkbox_#{group.id}")
/ 	.action=f.submit "Save Post"

=form_for( setup_post(@post,current_user), :html => { :multipart => true}) do |f|
  %dl	
    =f.fields_for :post_images_attributes do |ff|
      =ff.file_field :image
    /link below requires "nested_form_for"
    /=f.link_to_add "Add an image", :post_images
    %dt.field=f.label :name
    %dd.field=f.text_field :name
    %dt.field=f.label :product_category
    %dd.field=f.collection_select( :product_category_id, ProductCategory.all, :id, :name)
    %dt.field=f.label :borrow, "borrow?"
    %dd.field=f.check_box :borrow
    %dt.field=f.label :price
    %dd.field=f.text_field :price
    %dt.field=f.label :premium_mult_group_viz
    %dd#premium_group=f.check_box :premium_mult_group_viz		
    %dt.field=f.label :description
    %dd.field=f.text_area :description
    =f.fields_for :user do |u|
      =render "user_fields", :f => u
    =f.fields_for :assignments do |ff|
      =ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0','1'
      =ff.label :_destroy, ff.object.group.name
      =ff.hidden_field :group_id
  .action=f.submit "Save Post"