-form_for([@user,@post], :url => posts_path, :html => { :multipart => true}) do |f|
	=hidden_field_tag 'user_id', @user.id
	%dl
		%dt.field=f.label :image
		%dd.field=f.file_field :image
		%dt.field=f.label :name
		%dd.field=f.text_field :name
		%dt.field=f.label :borrow, "borrow?"
		%dd.field=f.check_box :borrow
		%dt.field=f.label :price
		%dd.field=f.text_field :price		
		%dt.field=f.label :description
		%dd.field=f.text_area :description
		-@user.groups_as_owner.each do |x|
			%dt= f.label x.name
			%dd= check_box_tag("groups[]", x.id)
	.action=f.submit "add post"