-form_for([@user,@post], :html => { :multipart => true}) do |f|
	=render "shared/error_messages", :target => @user
	=hidden_field_tag 'user_id', @user.id
	%dl
		%dt.field=f.label :image
		%dd.field=f.file_field :image
		%dt.field=f.label :name
		%dd.field=f.text_field :name
		%dt.field=f.label :borrow, "borrow?"
		%dd.field=f.check_box :borrow
		%dt.field=f.label :price
		%dd.field=f.text_field :price		
		%dt.field=f.label :description
		%dd.field=f.text_area :description    
		-@user.groups_as_owner.each do |group|
			%dt= label_tag "group_checkbox_#{group.id}", group.name
			%dd= check_box_tag("post[group_ids]", group.id, @user.groups_as_owner.include?(group), :id => "group_checkbox_#{group.id}")
	.action=f.submit "Save Post"