#credit_fields
  =f.hidden_field :stripe_customer_token
  %div.field
    =f.label :card_number, "Credit Card Number"
    =f.text_field :card_number
  %div.field
    =f.label :card_code, "Security Code on Card (CVV)"
    =f.text_field :card_code
  %div.field
    =f.label :card_month, "Card Expiration"
  %div#stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.