.content
	-if @post.image
		=image_tag(@post.image.url(:small))
	-else
		=image_tag(@post.image.default_url)
	%p
		%b Name:
		=@post.name
	%p
		%b Borrow?:
		=@post.borrow
	%p
		%b Price:
		$#{@post.price}
	%p
		%b Description:
		=@post.description
	/=render :controller => :emails, :action => :new
	%br
	%p
		%h1 Interested? email them:
	=render :partial => 'shared/email'
	/=render :partial => 'emails/new'