!!! Strict
%html
	%head
		%title "Groupie"
		=stylesheet_link_tag :all
		=javascript_include_tag :defaults
		=csrf_meta_tag
	%body
		.container
			=render "layouts/header"
			=yield
			=render "layouts/footer"